[Unit]
Description=SSH Monitoring Service
After=network.target ssh-ha.service

[Service]
Type=simple
ExecStart=/bin/bash /opt/ssh_dashboard/lib/monitoring/monitor_manager.sh monitor
ExecStartPre=/bin/bash -c 'mkdir -p /var/log/ssh_dashboard'
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
